.tabs {
  -webkit-app-region: no-drag;
  display: flex;
  gap: 2px;
  margin: 4px 6px 12px;
  padding: 2px;
  border-radius: 4px;
}

.tab {
  flex: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 6px 0;
  background: transparent;
  border: none;
  border-radius: 6px;
  font-size: 12.5px;
}

.active {
  background-color: var(--color-overlay);
  font-weight: 600;
}
