.header {
  -webkit-app-region: no-drag;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 780px;
  max-width: calc(100% - 32px);
}

.controlsRow {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.right {
  display: flex;
  align-items: center;
  gap: 8px;
}
